@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow-icon {
  stroke: #3b82f6; /* blue-500 */
}

.rainbow-icon:hover {
  stroke: #10b981; /* green-500 */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hover-row:hover {
  background-color: #e1e1e1; /* change to your preferred color */
}
.hover-row:hover > :first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hover-row:hover > :last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.float-in {
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Start from 50px down */
  animation: floatIn 1s ease-out forwards;
}

@keyframes floatIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.float-in-delayed {
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Start from 50px down */
  animation: floatIn 1s ease-out 0.5s forwards; /* Add delay here */
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid blue; /* Use your primary color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}